@model IEnumerable<crud.Models.Entities.TeacherSchedule>

@{
    ViewData["Title"] = "Index";
}

<h1>List Teacher Schedules</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Schedule</a>
</p>
<table class="table table-striped">
    <thead>
        <tr class="bg-dark text-light">
            <th>
               Teacher Id
            </th>
            <th>
                Grade Id
            </th>
            <th>
               Subject Id
            </th>
            <th>
               Classroom Id
            </th>
            <th>
                Schedule
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassroomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
